html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('https://img.pikbest.com/back_our/bg/20200630/bg/b2b1dfe787eb7_340649.jpg');
    background-size: cover;
   background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #0d3b6d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #144981;
}

.result {
    margin-top: 20px;
}
